<chatbox class="slide-open">
  <div class='friends-container container'>

  </div>
  <div class='chat-container slide-open container'>

  </div>
  <span class="backbutton slide-open"> < </span>
  <controls class="slide-open"><input type='text' class='chat-input'></input> <button class="chat-send">send</button></controls>
</chatbox>
<chatbutton><i class="far fa-comment-alt"></i></chatbutton>
