<div class="hub-container container">
<div class="control-panel hub-content">
  <h4>Control Panel</h4>
  <a class="control-link" href="/visionboard">Dashboard</a>
  <a class="control-link" href="/contacts">Contacts</a>
  <a class="control-link" href="/messages">Messages</a>
  <a class="control-link" href="/settings">Settings</a>
</div>
</div>
