<footer>
  <div>
    Copyright 2018 Mentorch LLC

  </div>
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
  </script>
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBefMYLqq4oZYvha0yl2ViJ5nv3EDqEEL8",
      authDomain: "mentorch-84acd.firebaseapp.com",
      databaseURL: "https://mentorch-84acd.firebaseio.com",
      projectId: "mentorch-84acd",
      storageBucket: "mentorch-84acd.appspot.com",
      messagingSenderId: "237332840910"
    };
    firebase.initializeApp(config);
  </script>
  <script src="/scripts/main.js"></script>
  <script src="/scripts/firebaseinit.js"></script>
</footer>
