<footer>
  <div>
    Copyright 2018 Mentorch LLC

  </div>
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
  </script>
  <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBWIONF4XycZDshaiAwttY9kwX1hzyNxlY",
      authDomain: "mentorch-95b8c.firebaseapp.com",
      databaseURL: "https://mentorch-95b8c.firebaseio.com",
      projectId: "mentorch-95b8c",
      storageBucket: "mentorch-95b8c.appspot.com",
      messagingSenderId: "141190493048"
    };
    firebase.initializeApp(config);
  </script>
  <script src="/scripts/main.js"></script>
  <script src="/scripts/firebaseinit.js"></script>
</footer>
