<header>
  <div class='navbar'><a href="/" style="     font-size: 0px; "><img class="logo" src="/img/logowhite.png"></img></a>
    <input class="nav-search" type="text" placeholder=""><i class="fas fa-search"></i></input>
    <div class='nav-menu'>
      <ul class="nav-menu-list">
        <li class="nav-menu-item"><a href="#">Vision Board</a></li>
        <li class="nav-menu-item"><a href="#" class="nav-resume">Resume</a></li>
        <li class="nav-menu-item"><a href="/discover">Discover</a></li>
        <li class="nav-menu-item">
          <a href="/login" class="nav-username">Login!</a>
          <span class="dropdown hidden">
            <ul>
              <li><a class="drop-resume">Resume</a></li>
              <li><a class="drop-messages">Messages</a></li>
              <li><a class="drop-settings" href="/settings/">Settings</a></li>
              <li><a href="#logout" class="drop-logout">Logout</a></li>
            </ul>
          </span>
        </li>
        <li class="nav-menu-item">
          <a href="/zoomView" class="nav-zoom">Zoom</a>
          <span class="hidden">
            <ul>
              <li><a href="/createUser">Users</a></li>
              <li><a href="/meetings">Meetings</a></li>
              <li><a href="/report">Groups</a></li>
              <li><a href="/report">Instant Messaging</a></li>
              <li><a href="/reports">Recordings</a></li>
              <li><a href="/report">Metrics</a></li>
            </ul>
          </span>
        </li>
        <li class="nav-menu-item">
          <a class="alert-button" href="#"><i class="fas fa-fire"></i><span id="notification-count"></span></a>
          <span class="alerts-dropdown slide-open">

          </span>

        </li>
      </ul>
    </div>
  </div>
</header>
