<div class="pageheader">
<div class="containter search-bar">
  <div class="searchbar-items">
    <input class="search-bar-input " placeholder="Search">
    <span class="search-icon glyphicon glyphicon-search"></span>
      <div class="search-container"></div>
    </input>
  </div>
  <div class="searchbar-items float-right"><span class="notifications-icon searchbar_icon glyphicon glyphicon-bell"><span id="notification-count"></span></span><div class="notifications-box">
  <!-- <div class="notification">Friend Request!</div> -->
  </div></div>
</div>
<marquee class="marquee" behavior="scroll" direction="left">"Every night you should go to bed with a dream and wake up with a purpose"       

                                                                                                                                                                                                        <?php echo "Today is " . date("Y-m-d") . "<br>"; ?></marquee>



</div>
