<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include('includes/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="css/landing.css"></link>
  <body>
  <%- include('includes/header.ejs') %>



  <div class="container">
      <div class="container-fluid flex-3">
        <jumbotext>Leave a Legacy!</jumbotext>
        <p class="header-text">Find a mentor. Be a mentor. Pass the torch.</p>
        <button class="darkbg-button"><a href="/register">Sign up!</a></button>
      </div>
  </div>
  <div class="container-padded">
    <h1>Find your Passion</h1>
    <h2thin>Think of the good we can create in the world if everyone took the time to mentor just one person.</h2thin>
  </div>
  <%- include('includes/footer.ejs') %>
  </body>
  <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBefMYLqq4oZYvha0yl2ViJ5nv3EDqEEL8",
    authDomain: "mentorch-84acd.firebaseapp.com",
    databaseURL: "https://mentorch-84acd.firebaseio.com",
    projectId: "mentorch-84acd",
    storageBucket: "",
    messagingSenderId: "237332840910"
  };
  firebase.initializeApp(config);
</script>
</html>
