<html>

<div hidden class="grey-shade grey-shade-signup"><div class="popup-container">
  <div class="popup">
    <div class="container-fluid popup-header"><img class="center-img" src='./img/signInHeaderWhite.png'></img></div>
    <div class="container-fluid popup-body">
      <span class="medium-text grey-text">Join Mentorch to begin your journey.</span>
      <div class="full-width-button facebook-signup" >Sign up with Facebook</div>
      <div class="full-width-button google-signup" >Sign up with Google</div>
      <div class="full-width-button linkedin-signup" >Sign up with LinkedIn</div>
      <img src="../img/orDivider.png" class="block margin-bottom-20" style="
    margin: 0 auto;
    margin-bottom: 15px;
"></img>
      <div class="full-width-button email-signup" >Sign up with email</div>
      <div class="text-center work-sans">Already have an account? <a href="#">Sign in</a></div>
    </div>
  </div>
</div></div>

<div hidden class="grey-shade-login grey-shade"><div class="popup-container">
  <div class="popup">
    <div class="container-fluid popup-header"><img class="center-img" src='./img/signInHeaderWhite.png'></img></div>
    <div class="container-fluid popup-body">
      <span class="medium-text grey-text">Sign into Mentorch!</span>
      <div class="full-width-button facebook-signin" >Sign in with Facebook</div>
      <div class="full-width-button google-signin" >Sign in with Google</div>
      <div class="full-width-button linkedin-signin" >Sign in with LinkedIn</div>
      <img src="../img/orDivider.png" class="block margin-bottom-20" style="
    margin: 0 auto;
    margin-bottom: 15px;
"></img>
      <input type="text" class="signup-input full-width" id="signin-email-input" placeholder="Email"></input>
      <input type="password" class="signup-input full-width" id="signin-password-input" placeholder="Password"></input>
      <div class="full-width-button email-signin" >Sign in with email</div>
      <div class="text-center work-sans">Need an account? <a href="#">Register</a></div>
    </div>
  </div>
</div></div>

<%- include('includes/mentorchhead.ejs') %>
<%- include('includes/mentorchheader.ejs') %>
<body>



<div class="container-fluid red-gradient">
  <div class="col-md-4 col-sm-12">
    <img src="./img/lal.png" style=""></img></br>
    <p class="header-p">Find a mentor. Be a mentor. Pass the torch.</p>
    <a href="/login" class="black-button" id="slider-signup">Sign Up</a>
  </div>
</div>
<div class="container-fluid padding-thick">
<h1>Find your Passion</h1>
<p>Think of the good we can create in the world if everyone took the time to mentor just one person.</p>
</div>



</body>
<%- include('includes/footer.ejs') %>
</html>
