<%- include('includes/head.ejs') %>


<body>

<div class="container-fluid main">
  <%- include('includes/header.ejs') %>
    <div id="brand"><img src="img/logo.png"></img></div>
</div>

</body>


<%- include('includes/footer.ejs') %>
