<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include('includes/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="/css/settings.css"></link>

  <body>
  <%- include('includes/header.ejs') %>
  <%- include('includes/chatmodule.ejs') %>



  <div class="container">

    <div class="hub-container">
      <div class="control-panel hub-content">
        <h4>Settings</h4>
        <a class="control-link" href="/visionboard">User settings</a>
        <a class="control-link" href="/contacts">Privacy</a>
        <a class="control-link" href="/messages">Preferences</a>
        <a class="control-link" href="/settings">Other</a>
      </div>
    </div>

    <div class="hub-container flex-3">
      <form>

      <div class="main-panel hub-content" style="text-align: center;">
        <div class="form-group">
            <img class='user-img'></img>
        </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <input class=" form-control first-name" type="text" placeholder="First name"></input>
          </div>
          <div class="col-md-6">
            <input class=" form-control last-name" type="text" placeholder="Last name"></input>
          </div>
        </div>
      </div>

        <div class="form-group">
          <select class="form-control profession">
            <option value="None">Choose a Proffession...</option>
            <option value="Accounting">Accounting</option>
            <option value="Administrative">Administrative</option>
            <option value="Arts and Design">Arts and Design</option>
            <option value="Business Development">Business Development</option>
            <option value="Community & Social Services">Community & Social Services</option>
            <option value="Consulting">Consulting</option>
            <option value="Education">Education</option>
            <option value="Engineering">Engineering</option>
            <option value="Entrepreneurship">Entrepreneurship</option>
            <option value="Finance">Finance</option>
            <option value="Healthcare Services">Healthcare Services</option>
            <option value="Human Resources">Human Resources</option>
            <option value="Information Technology">Information Technology</option>
            <option value="Legal">Legal</option>
            <option value="Marketing">Marketing</option>
            <option value="Media & Communications">Media & Communications</option>
            <option value="Military & Protective Services">Military & Protective Services</option>
            <option value="Operations">Operations</option>
            <option value="Product Management">Product Management</option>
            <option value="Program & Product Management">Program & Product Management</option>
            <option value="Purchasing">Purchasing</option>
            <option value="Quality Assurance">Quality Assurance</option>
            <option value="Real Estate">Real Estate</option>
            <option value="Rersearch">Rersearch</option>
            <option value="Sales">Sales</option>
            <option value="Support">Support</option>
          </select>
        </div>
        <div class="form-group">
          <textarea class="bio" type="text" placeholder="Bio"></textarea></br>
        </div>
        <div style="align:center;" class="form-group">
          <button class="full-width">Save</button>

        </div>
      </div>
    </form>

    </div>






  </div>


  <%- include('includes/footer.ejs') %>

  <script src="/scripts/settings.js"></script>
  </body>
</html>
