<html>
<%- include('includes/mentorchhead.ejs') %>
<%- include('includes/sidebar.ejs') %>

<style>
.row{
  margin-bottom: 15px;
}
</style>

<body style="">
<%- include('includes/searchbar.ejs') %>

  <div class="hub-wrapper">
    <div class="hub-container">
    <div class="paper container slide slider no-max">

  <!--    <div class="col-md-4 text-center padding-50">
        <h2 class="black-text">settings</h2>
        <div class="simple-menu">user info</div>
        <div class="simple-menu">privacy</div>
        <div class="simple-menu">accessability</div>
        <div class="simple-menu">payment info</div>
      </div> -->


      <div class="col-md-12 text-right grey-padding">
        <div class="row text-left">
          <div class="profile-pic-med"><span id="edit-pic-hover" class="sub_icon glyphicon glyphicon-pencil"></span></div>
        </div>
        <div class='container-fluid'>
          <div class='col-md-6'>
            <input type="text" id="first-name-input" class="signup-input" value="" placeholder="First Name"></input>
            <input type="text" id="last-name-input" class="signup-input" value="" placeholder="Last Name"></input>
            <input type="text" id="profession-input" class="signup-input" value="" placeholder="Profession"></input>
            <textarea maxlength="250" type="text" id="bio-input" class=" signup-input" value="" placeholder="Small bio" style="height: 200px; max-height: 200px;"></textarea>
          </div>
          <div class='col-md-6'>
            <input type="text" id="youtube-link-input" class="signup-input" value="" placeholder="Profile Youtube Video Link"></input>
          </div>
        </div>

        <textarea hidden maxlength="250" type="text" id="tags-input" class=" signup-input" value="" placeholder="Enter tags that describe you followed by commas." style="display:none; height: 100px max-height: 150px;"></textarea>
        <div class="tag-container row align-left">
          <div class="military-tags tags-group no-margin">
            <div class="tags-title">Military Tags</div>
            <tagbutton class='profile-tag' id="army">Army</tagbutton>
            <tagbutton class='profile-tag' id="marine">Marine</tagbutton><span class="small-popup marinepop hidden">
              <tagbutton class='profile-tag' id="marinegroundcombat">Marine Ground Combat</tagbutton>
              <tagbutton class='profile-tag' id="marinespecialoperations">Marine Special Operations</tagbutton>
              <tagbutton class='profile-tag' id="marineaviation">Marine Aviation</tagbutton>
              <tagbutton class='profile-tag' id="marinelogisticsandsupport">Marine Logistics and Support</tagbutton>
              <tagbutton class='profile-tag' id="marineadministration">Marine Administration</tagbutton>
              <tagbutton class='profile-tag' id="marinecommunications">Marine Communications</tagbutton>
            </span>
            <tagbutton class='profile-tag' id="airforce">Airforce</tagbutton>
            <tagbutton class='profile-tag' id="navy">Navy</tagbutton><span class="small-popup navypop hidden">
              <tagbutton class='profile-tag' id="navysurfacewarfare">Navy Surface Warfare</tagbutton>
              <tagbutton class='profile-tag' id="navalaviation">Naval Aviation</tagbutton>
              <tagbutton class='profile-tag' id="navynuclearpower">Navy Nuclear Power</tagbutton>
              <tagbutton class='profile-tag' id="navalspecialwarfare">Naval Special Warfare</tagbutton>
              <tagbutton class='profile-tag' id="navyinformationtechnology">Navy Information Technology</tagbutton>
              <tagbutton class='profile-tag' id="navalengineering">Naval Engineering</tagbutton>
              <tagbutton class='profile-tag' id="navybusinessandlegal">Navy Business and Legal</tagbutton>
            </span>
            <tagbutton class='profile-tag' id="coastguard">Coast Guard</tagbutton>
            <tagbutton class='profile-tag' id="nationalguard">National Guard</tagbutton>
            <tagbutton class='profile-tag' id="nationalguard">National Guard</tagbutton>
            <tagbutton class='profile-tag' id="nama">NAMA</tagbutton>
          </div>
          <div class="entrepreneur-tags tags-group">
            <div class="tags-title">Entrepreneur Tags</div>
            <tagbutton class='profile-tag' id="athlete">Athlete</tagbutton>
            <tagbutton class='profile-tag' id="business">Business</tagbutton>
            <tagbutton class='profile-tag' id="design">Design</tagbutton>
            <tagbutton class='profile-tag' id="music">Music</tagbutton>
            <tagbutton class='profile-tag' id="programming">Programming</tagbutton>
            <tagbutton class='profile-tag' id="fashion">Fashion</tagbutton>
            <tagbutton class='profile-tag' id="marketing">Marketing</tagbutton>
            <tagbutton class='profile-tag' id="consulting">Consulting</tagbutton>
          </div>
        </div>

        <button id="allow-notifications">Allow Notifications</button> <button id="test-notifications">Test Notifications</button>
        <input type="button" id="update-submit" class="signup-submit" value="UPDATE"></input>
      </div>



    </div>
    </div>
  </div>

</body>

<script>


</script>


<%- include('includes/footer.ejs') %>
<link href="css/sidebar.css" rel="stylesheet"></link>
<style>
#edit-pic-hover {
    margin: 0 auto;
    position: absolute;
    width: 150;
    height: 150;
    padding: 59px;
    font-size: xx-large;
    color: white;
    background-color: rgb(255, 64, 72);
    opacity: 0;
    border-radius: 3px;
    transform: translate(0px, 9px);
    transition: all 0.1s ease 0s;
}
</style>
<script src="js/sidebar.js"></script>
<script src="js/user-settings.js"></script>
</html>
