<html>
<%- include('includes/mentorchhead.ejs') %>
<%- include('includes/sidebar.ejs') %>
<body>
<%- include('includes/searchbar.ejs') %>


</body>


<%- include('includes/footer.ejs') %>
<link href="css/sidebar.css" rel="stylesheet"></link>


<script src="js/sidebar.js"></script>
</html>
