<html>

<%- include('includes/mentorchhead.ejs') %>
<%- include('includes/sidebar.ejs') %>
<body>
<%- include('includes/searchbar.ejs') %>


<div class="hub-wrapper">
  <div class="hub-container">

  </div>
</div>


</body>


<%- include('includes/footer.ejs') %>
<link href="css/sidebar.css" rel="stylesheet"></link>
<style>
  .hub-wrapper{
    background-image: url(/img/demoBG.png);
    background-size: cover;
    background-repeat: none;
    background-position: center;
  }
</style>


<script src="js/sidebar.js"></script>
</html>
