.hub-container{
  padding: 40px
}

.contact {
    background-color: rgb(230, 230, 230);
    color: #717171;
    height: 70px;
    padding: 10px;
    width: 100%;
    transition: all 0.2s ease 0s;
    border-style: solid;
    border-width: 1px;
    border-color: #dadada;
    border-radius: 2px;
    margin-bottom: 7px;
}

#contact-name{
  height: 50px;
    position: absolute;
    display: inline-block;
    padding: 14px;
}

#contact-container {
    padding: 20px;
        background-color: #f8f7ff;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.12);
    min-height: 80%;
}

#contact-controls-container{
    padding: 15px;
    min-height: 80%;
    margin-right: 40px;
        background-color: #f8f7ff;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.12);
}

#contact-controls{
  padding: 50px;
  padding-left: 50px;
  padding-right: 50px;
  text-align:;
  height: 95%;
}

#controls {
    display: block;
    height: 250px;
    width: 100%;
    background-color: rgba(146, 146, 146, 0.24);
    padding-left: 245px;
    border-radius: 8px;
    border-style: solid;
}

.contact:hover {
    background-color: #ffd3d3;
    border-color: #fbbebe;
    color: #b55050;
}

#info-wrapper {
    padding: 9px;
    height: 300px;
    overflow: overlay;
}

@media (max-width: 767px){
  .hub-container {
    padding: 10px;
  }
}

.contact-button {
    font-size: 65%;
    font-family: sans-serif;
    background: #c54c4b;
    color: white;
    padding: 12px;
    border-radius: 2px;
    margin-right: 5px;
}

.contact-button:hover {
    background-color: #ff706f;
    color: #ffdede;
}
