.friend {
    flex: 1;
    flex-basis: 47%;
    height: 68px;
    border: solid 1px #e5e5e5;
    margin: 3px;
    background-color: #f9f9f9;
    border-top-right-radius:  8px;
    border-bottom-right-radius: 8px;
}

.friend-content {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: 69px;
}


.friend-img {
    height: 100%;
}

h3.friend-name {
    margin-left: 18px;
    font-weight: 300;
    font-size: 1em;
}

.main-panel.hub-content {
    display: flex;
    flex-wrap: wrap;
}

h3.contactico i {
    font-size: 1em;
    margin-left: 16px;
    color: #7a7a7a;
    transition: all 0.2s ease 0s;
}

h3.contactico i:hover {
    color: #dd331d;
}

h2{
  text-align: center;
    font-size: 38px;
    color: #4c4c4c;
    letter-spacing: 0px;
}

@media(max-width: 1600px){
  .friend {
      flex: 1;
      flex-basis: 100%;
      height: 68px;
      border: solid 1px #e5e5e5;
      margin: 3px;
      background-color: #f9f9f9;
      border-top-right-radius:  8px;
      border-bottom-right-radius: 8px;
  }
}
