.navbar {
    display: flex;
    background-color: #dd331d;
    padding: 10px;
    padding-left: 21%;
    padding-right: 21%;
    box-shadow: 0px 1px 9px #00000014;
    /* border-top: solid 4px #dd331d; */
}

.nav-search {
    padding: 7px;
    height: 16px;
    margin-top: 15px;
    border-radius: 22px;
    padding-left: 13px;
    background-color: #9e1d0c;
    color: #ffffff;
    border: solid 1px #9e1d0c;
}

.nav-menu a {
    font-style: none;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s ease 0s;
}

.nav-menu a:hover {
    color: #9e1d0c;
}
