tagbox {
    display: block;
    flex: 1;
    height: 190px;
    width: 190px;
    border-radius: 3px;
    background-color: #c3c3c3;
    box-shadow: 0px 5px 40px #559bc073;
    /* margin-right: 127px; */
    align-content: center;
    justify-content: center;
    margin: 47px;
    background-size: cover;
    color: white;
    font-size: 24px;
    font-weight: 800;
    font-family: 'Roboto';
    line-height: 176px;
    text-shadow: 0px 1px 24px #000000;
    transition: all 0.1s ease 0s;
}

tagbox:hover {
    transform: translateY(-10px);
    box-shadow: 0px 2px 44px #559bc0b0;
}

.tagbox-container {
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.hub-container{
  display: flex;
  justify-content: center;
  align-content: center;
}

.hub-content{
  max-width: 50%;
}

.login-input {
    width: 50%;
    margin-bottom: 10px;
    padding: 13px;
    font-size: 17px;
    color: grey;
    background-color: #ededed;
    border: solid 2px #ededed;
    border-radius: 3px;
    transition: all 0.2s ease 0s;
}

.login-input:hover {
    background-color: white;
    border-color: #ededed;
}

.login-input:focus{
  outline: none;
}

input.login-submit {
    width: 54%;
    background-color: #dd331d;
    border: none;
    padding: 13px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    font-family: Roboto;
    margin-bottom: 10px;
}

#login-form{
  text-align: center;
}

.tag-container {
    display: none;
    opacity: 0;
    font-size: 14px;
    line-height: 32px;
    text-shadow: none;
    color: #424242;
    font-weight: 400;
    background-color: white;
    padding: 13px;
    transition: all 0.2s ease 0s;
    box-shadow: 0px 2px 10px #0000001f;
}

tagbox:hover .tag-container{
  display: block;
  opacity: 1;
}

tag {
    background-color: #d4d4d4;
    padding: 3px;
    transition: all 0.1s ease 0s;
}

tag:hover {
    background-color: #ff4d4d;
    color: white;
}

@media(max-width: 1000px){
  .login-input {
      width: 90%;
  }

  .hub-content{
    max-width: 90%;
  }

  input.login-submit {
      width: 94%;
  }
}

.tag-selected {
    background-color: #ff4d4d;
    color: white;
}
