.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    width: 250px;
    position: fixed;
    height: 100%;
    z-index: 9999;
    top: 0px;
    left: -170;
    transition: all .4s ease 0s;
    /* background-image: linear-gradient(0deg, #4e4e4e, #a9a9a9), url(../img/noise.png); */
    background-blend-mode: overlay;
    box-shadow: 3px 0px 10px rgba(175, 24, 42, 0.19);
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed4343+0,ed4373+100 */
    background: #ed4356; /* Old browsers */
    background: -moz-linear-gradient(top,  #ed4356 0%, #ed5643 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ed4356 0%,#ed5643 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #cf2b34 0%,#c9002a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed4343', endColorstr='#ed4373',GradientType=0 ); /* IE6-9 */
}

.sidebar-nav {
    display: block;
    float: left;
    width: 250px;
    list-style: none;
    margin: 0px;
    padding: 0;
}

#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}


#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #fff;
    text-align: inherit;
    float: left;
    text-decoration: none;
    width: 250px;
    /* background: #ffffff; */
    /* border-top: 1px solid #373737; */
    /* border-bottom: 1px solid #1A1A1A; */
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -o-transition: background .2s;
    -ms-transition: background .2s;
    transition: background .2s;
}

#sidebar_menu li a:hover, .sidebar-nav li a:hover {
    border: none;
}

.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
    line-height: 41px;
    text-indent: 18px;
}

.sidebar-nav li a {
    color: #fffcfc;
    font-size: 1em;
    text-decoration: none;
    cursor: default;
    padding: 5px;
    padding-left: 34px;
    font-weight: 600;
    /* border-bottom: solid 1px #eaeaea; */
    border-top: none;
    font-family: 'Work Sans';
    height: 49px;
}


.sidebar-nav li a:hover {
    background: rgb(206, 43, 52);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 54px;
    font-size: 10px;
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    color: white;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
    float:right;
   padding-right: 65px;
   padding-top:20px;
}
.sub_icon {
    float: right;
    padding-right: 29px;
    padding-top: 13px;
    color: #ffffff;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}



#menu-toggle{
  height: 100%;
  /* top: 50%; */
  /* background-blend-mode: lighten; */
  background-size: cover;
  color: #ffffff;
  padding: 0px;
  font-weight: 600;
  letter-spacing: 2;
  /* background: -webkit-linear-gradient(left, #ff4444, #ea005d); */
  background-color: #cf2b34;
  font-size: 13px;
}

.small-right {
    float: right;
    position: relative;
    display: inline-block;
    top: 20px;
    right: 10px;
    color: white;
    padding-right: 21px;
}

#sidebar-wrapper.active {
    left: 0px;
    box-shadow: 2px 0px 18px rgba(37, 43, 62, 0.12);
}

#user-button{
  color: #ffffff;
  font-size: 13px;
  font-style: italic;
  cursor: default;
  padding: 1px;
  font-weight: 500;
  border-top: none;
  font-family: 'Work Sans';
  height: 35px;
  left: 11px;
  text-align: left;
  top: 0;
  background-color: #6f2121;
}

#user-button:hover{
  border: none;
  background-color: #9e252f;
}

.sidebar-nav li a < .user-button {
  height: 66px;
  padding: 16px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0.5;
  background: #000000;
  display: block;
  line-height: 2.4;
  padding-left: 0px;
}

.user-pic {
    height: 34px;
    width: 34px;
    display: inline-block;
    background: #c15252;
    margin-right: 5px;
    border-radius: 2px;
    background-size: contain;
}

@media (max-width: 767px){

  .resume-social-icon {
    height: 30px;
    width: 30px;
    padding: 9px;
    font-size: 13px;
}

  #sidebar-wrapper {
      left: -211px;
  }
  .small-right {
    float: right;
    position: relative;
    display: inline-block;
    top: 20px;
    right: -10px;
    color: white;
}
  .resume-container {
    min-height: 60%;
    width: 100%;
    position: relative;
    padding: 10px;
    background-color: #f5f5f5;
  }
  .move-wrapper {
    padding-left: 41px;
  }

  .resume-module {
    height: inherit;
    width: 99%;
    display: inline;
    margin-bottom: 30px;
    margin-right: 40px;
    overflow: auto;
  }

  .paper {
    padding: 0px;
  }

  .sub_icon {
    float: right;
    padding-right: 10px;
    padding-top: 13px;
    color: #ffffff;
  }
}

.popup {
    max-height: 640px;
    position: relative;
    z-index: 99999;
    background-color: #ffffff;
    width: 593;
    margin: 0 auto;
}

textarea#edit-text {
    margin: 0px 0px 13px;
    width: 493px;
    height: 265px;
    min-width: 100%;
    max-width: 100%;
    max-height: 265px;
}

@media (max-width: 767px){
  .move {
    padding-left: 50px;
}
  .popup-container{
    position: static;
    width: 100%;
  }

  .popup{
    height: 100%;
    width: 100%;
    position: static;
  }
}

.username {
    display: inline-block;
    position: relative;
    text-overflow: ellipsis;
    width: 185px;
    overflow: hidden;
    margin-left: -11px;
    top: 1px;
    text-align: center;
    height: 100%;
}

a.user-controls{
  background-color: transparent;
  border-top-style: solid;
  border-width: 1px;
  border-color: #444444;
}

#user-control:hover {
    border: none;
    background-color: #d03035;
    color: #ffa1a1;
}

body {
    background-color: #fbf7f5;
    background-blend-mode: darken;
    background-size: initial;
    /* background-image: linear-gradient(0deg, #4e4e4e, #a9a9a9), url(../img/noise.png); */
    background-blend-mode: overlay;
}

input:focus {
    outline: none;
    border-color: #ff4146;
    /* color: #28aae4; */
    transform: scale(1,1);
    /* box-shadow: 0px 9px 6px -4px rgba(0, 0, 0, 0); */
}

.notification-ico {
    padding-top: 3px;
    color: #000000;
    font-size: 24px;
}

#edit-pic-hover{
  margin: 0 auto;
  position: absolute;
  width: 150;
  height: 150;
  padding: 59px;
  font-size: xx-large;
  color: white;
  background-color: rgb(255, 64, 72);
  opacity: 0;
  border-radius: 3px;
  transform: translate(0px, 103px);
  transition: all 0.1s ease 0s;
}

.profile-pic-med:hover #edit-pic-hover{
  opacity: 1;
}

.grey-shade{
  z-index: 9998;
}

.sidebar-brand{
  height: 100%;
  /* top: 50%; */
  /* background-blend-mode: lighten; */
  background-size: cover;
  color: #ffffff;
  padding: 0px;
  font-weight: 600;
  letter-spacing: 2;
  /* background: -webkit-linear-gradient(left, #ff4444, #ea005d); */
  background-color: #801820;
  font-size: 13px;
}

.searchbar_icon {
    padding: 4px;
    font-size: 28px;
    color: #cc2a33;
    /* text-shadow: 0px 3px 0px #f3f3f3; */
    transition: all 0.2s ease 0s;
    right: 16px;
    text-shadow: 0px 3px 0px rgba(224, 224, 224, 0);
}

span#notification-count {
    font-size: 12;
    position: absolute;
    color: white;
    text-shadow: none;
    font-family: 'Work Sans';
    font-weight: 800;
    background-color: #ff525d;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 7px;
    top: -2px;
    right: -10px;
}

.searchbar_icon:hover {
    transform: rotateZ(9deg);
}

.notifications-box {
    background-color: white;
    color: #4c4c4c;
    width: 180px;
    height: 200px;
    padding: 10px;
    box-shadow: 0px 1px 6px rgba(255, 64, 70, 0.34);
    border-radius: 5px;
    font-weight: 600;
    margin-top: 6px;
    position: absolute;
    transform: translateX(-150px);
    top: -210px;
    opacity: 0;
    z-index: 9999;
}

.notification:hover {
    color: #ffffff;
    background-color: #63c0ff;
}

.notification {
    background-color: #daf0ff;
    padding: 5px;
    border-radius: 5px;
    color: #5b94d0;
    font-weight: 600;
    text-align: center;
    margin-bottom: 6px;
    cursor: default;
    transition: all 0.2s ease 0s;
        font-size: 12px;
}

tagbutton {
    border: solid 3px #918083;
    background-color: #918083;
    padding: 4px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
    cursor: default;
    transition: all 0.1s ease 0s;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 5px;
}

tagbutton:hover {
    border-color: #cf2b34;
    background-color: #cf2b34;
    color: white;
}

.tag-selected{
  border-color: #cf2b34;
  background-color: #cf2b34;
  color: white;
}

.align-left{
  text-align: left
}

.user-img{
  height: 120px;
  width: 120px;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.18);
}

.sidebar-nav li a.user-controls {
    color: #f9f1f1;
    font-weight: 500;
}

.pageheader {
    background-color: fffbfa;
}



.header-content {
    background-color: #fffbfa;
    padding: 25px;
    padding-left: 125px;
    padding-top: 30px;
    margin-bottom: 5px;
    border-bottom: solid 1px #e8dad9;
}

.resume-heading{
  padding-left: 20px;
  /* transform: translateY(13px); */
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: grey;
}
:-moz-placeholder { /* Firefox 18- */
  color: grey;
}
.side-logo{
    padding: 50px;
    padding-bottom: 0px;
    padding-top: 26px;
}

.search-icon {
    color: #cbcbcb;
    transform: translate(-35px, 1px);
}

h1 {
    color: #ca2b33;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 52px;
    display: block;
    /* text-shadow: 0px 1px 2px rgba(154, 48, 48, 0.44); */
}

h2 {
    color: #50252b;
    font-family: 'Work Sans';
    font-weight: 300;
    font-size: 22px;
    margin-top: 10px;
    display: block;
}

.name-header{
  transform: translateY(-20px);
}

#connect-btn {
    float: right;
    font-size: 18px;
    font-family: 'Work Sans';
    font-weight: 500;
    border-radius: 3px;
    background-color: #42bd41;
}

#connect-btn:hover {
    background-color: #aef2ad;
    color: #63be62;
}

.tags-group{
    padding: 20px;
    border: solid 1px #e8dad9;
    background-color: #ffffff;
    border-radius: 3px;
    margin-top: 34px;
}

.tags-title{
  display: inline-flex;
  background-color: #e8dad9;
  color: #746968;
  padding: 4px;
  font-size: 13px;
  font-weight: 600;
  font-family: 'Work Sans';
  border-radius: 3px;
  margin-right: 10px;
  position: absolute;
  transform: translate(-12px, -36px);
  /* box-shadow: 0px 5px 6px -3px rgba(89, 89, 89, 0.94); */
}

.no-margin{
  margin: 0px;
}

@media (max-height:767px) {
  .sidebar-nav li a {
    color: #fffcfc;
    font-size: 0.9em;
    text-decoration: none;
    cursor: default;
    padding: 0px;
    font-weight: 600;
    /* border-bottom: solid 1px #eaeaea; */
    border-top: none;
    font-family: 'Work Sans';
    height: 38px;
}

#sidebar-wrapper {
    left: -185px;
}

}

@media (max-width:767px) {
#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
  left: -218px;
}

.header-content {
    background-color: #fffbfa;
    padding: 25px;
    padding-left: 55px;
    padding-top: 30px;
    margin-bottom: 5px;
    border-bottom: solid 1px #e8dad9;
    text-align: center;
}

#edit-pic-hover {
    margin: 0 auto;
    position: absolute;
    width: 100;
    height: 100;
    padding: 34px;
    font-size: xx-large;
    color: white;
    background-color: rgb(255, 64, 72);
    opacity: 0;
    border-radius: 3px;
    transform: translate(-50px, 103px);
    transition: all 0.1s ease 0s;
}

.name-header {
    transform: translateY(0px);
}

}

.small-popup {
    position: absolute;
    background-color: #645356;
    max-width: 200px;
    padding: 10px;
    box-shadow: 0px 5px 17px -6px rgba(163, 63, 66, 0.69);
    border-radius: 5px;
    transform: translate(-10px, -130px);
    z-index: 990
}

.resume-social-icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    padding: 14px;
    text-align: center;
    font-size: 22px;
    color: white;
    margin-left: 20px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #cf2b34 0%,#ff3e3e 100%);
}

.resume-social-icon.twitter {
    background-color: #60adff;
}

.resume-social-icon.instagram {
    background-color: #db539d;
}

.resume-social-icon.addIcon {
    background-color: #e4343e;
}

.social-icons-settings{
  width: 200px;
  height: 220px;
  background-color: white;
  display: block;
  position: absolute;
  z-index: 9999;
  transform: translateY(-112px);
  border-radius: 3px;
  padding: 10px;
  padding-top: 30px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.09);
}
input.social-input {
    width: 100%;
    height: 30px;
    font-size: 14px;
    padding: 10;
    color: #ca2b33;
    border: solid 1px #eaeaea;
    margin-bottom: 10px;
}

video {
  display: block;
      margin: 0 auto;
      top: 29%;
      border: solid 3px white;
      border-radius: 3px;
      height: 40%;
      box-shadow: 0px 3px 76px #00000033;
}
